[submodule "stagefiles/--force"]
	path = stagefiles/--force
	url = https://github.com/pioro/ansible-oracle.git
[submodule "stagefiles/ansible-oracle"]
	path = stagefiles/ansible-oracle
	url = https://github.com/pioro/ansible-oracle.git
